<a href="/tasks/">Back to Tasks</a>
<div>
    <div>
        <h2>Pending Tasks</h2>
        {% for task in tasks %}

        <div>
            {{task.id}} . {{task.title}} - {{task.created_date}}
            <br />
            {{task.description}}
        </div>
        {% endfor %}
    </div>
    <div>
        <h1>Completed Tasks</h1>
        {% for task in completed_tasks %}

        <div>
            {{task.id}} . {{task.title}} - {{task.created_date}}
            <br />
            {{task.description}}
        </div>
        {% endfor %}
    </div>
</div>