{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% tailwind_css %}

</head>

<body class=" leading-normal tracking-normal">
    <div class="container max-w-md mx-auto  h-screen p-10 ">
        {% block content %}{% endblock %}
    </div>
</body>

</html>