{% extends "dashboard.html" %}

{% block page %}
<p class="text-md text-gray-500">{{tasks.count}} tasks completed </p>

{% for task in tasks %}

<div class="rounded-lg bg-slate-200 border-none p-4 flex flex-row justify-between">


    <div>
        <a href="{% url 'detail' task.id %}" class="">

            <p class="text-md line-through text-violet-500 hover:underline">{{task.title}} </p>
        </a>
        <p class="text-sm text-gray-700">{{task.created_date|date:"D d M"}}</p>

    </div>

    <div class="flex items-center space-x-2">

        <a href="{% url 'update' task.id %}" class="p-2 bg-emerald-500 rounded-lg "><i
                class="fa-solid fa-pen-to-square text-white text-md"></i></a>
        <a href="{% url 'delete' task.id %}" class="p-2 bg-red-500 rounded-lg "><i
                class="fa-solid fa-trash text-white text-md"></i></a>

    </div>


</div>

{% endfor %}

{% endblock %}