<a href="/completed_tasks/">Completed Tasks</a>
<br />
<a href="/all_tasks/">All Tasks</a>

<h1>Tasks Manager</h1>
<form method="get" action="">
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>

<form method="get" action="/add-task/">
    <input type="text" name="task" placeholder="Enter your task" required />
    <br />
    <input type="text-area" name="description" placeholder="Add a task description" />
    <button type="submit">Add Task</button>
</form>



<div>
    <h2>Pending Tasks</h2>
    {% for task in tasks %}

    <div>
        {{task.id}} . {{task.title}} - {{task.created_date}}

        <br />
        {{task.description}}

    </div>
    <a href="/complete_task/{{task.id}}/">Complete</a>
    <a href="/delete-task/{{task.id}}/">Delete</a></br>

    {% endfor %}
</div>