<a href="/completed_tasks/">Completed Tasks</a>
<br />
<a href="/all_tasks/">All Tasks</a>

<h1>Tasks Manager</h1>



<form method="get" action="">
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>

<div>
    <h2>Pending Tasks</h2>
    {% for task in tasks %}

    <div>
        {{task.id}} {{task.title}} - {{task.created_date}}
        <a href="/complete_task/{{task.id}}/">Complete</a>&nbsp;
        <a href="/update-task/{{task.id}}/">Update</a>&nbsp;
        <a href="/delete-task/{{task.id}}/">Delete</a>&nbsp;
        <a href="/detail-task/{{task.id}}/">Details of Task</a></br>
        {{task.description}}

    </div>

    {% endfor %}
</div>

{% for page in paginator.page_range %}
<li>
    <a href="?page={{page}}&search={{request.GET.search}}">{{page}}</a>
</li>
{% endfor %}