{% extends "base.html" %}

{% block content %}
<div class="space-y-10">
    <h1 class="text-4xl font-bold mt-20">Create Task</h1>
    <form method="post" action="/create-task/" class="">
        {% csrf_token %}

        {% for field in form %}
        <div class="flex flex-col my-4 space-y-2">
            <label for="{{ field.id_for_label}}" class="text-lg ">
                {{field.label}}
            </label>
            {{ field | addclass:"rounded-lg bg-slate-200 border-none"}}
        </div>
        <div class="text-sm text-red-500">{{field.errors}}</div>
        {% endfor %}

        <div class="text-sm text-red-500"> {{ form.non_field_errors }} </div>

        <button type="submit"
            class="rounded-lg bg-violet-500  w-full p-4 my-8 text-white font-medium text-lg">Add</button>

    </form>
</div>
{% endblock %}