{% extends "dashboard.html" %}

{% block page %}
<p class="text-md text-gray-500">{{tasks.count}} tasks pending </p>

{% for task in tasks %}

<div class="rounded-lg bg-slate-200 border-none p-4 flex flex-row justify-between ">


    <div class="flex flex-row items-center space-x-4">
        <p class="text-lg bg-slate-500 px-4 text-white rounded-lg ">{{task.priority}}</p>

        <div>
            <a href="{% url 'detail' task.id %}" class="">

                <p class="text-md hover:underline ">{{task.title}} </p>

            </a>
            <p class="text-sm text-gray-700">{{task.created_date|date:"D d M"}}</p>

        </div>


    </div>

    <div class="flex items-center space-x-2">
        <a href="{% url 'complete' task.id %}" class="p-2 bg-violet-500 rounded-lg "><i
                class="fa-solid fa-check text-white text-md"></i></a>

        <a href="{% url 'update' task.id %}" class="p-2 bg-emerald-500 rounded-lg "><i
                class="fa-solid fa-pen-to-square text-white text-md"></i></a>
        <a href="{% url 'delete' task.id %}" class="p-2 bg-red-500 rounded-lg "><i
                class="fa-solid fa-trash text-white text-md"></i></a>

    </div>


</div>

{% endfor %}

{% endblock %}